{% extends "engine/base.html" %}
{% load i18n static %}

{% block content_engine %}
        <h2>
            {{ game.title }}
            {% if game.author %}
                <small>
                    {% blocktrans with author=game.author %}by {{ author }}{% endblocktrans %}
                </small>
            {% endif %}
        </h2>
        <p>
            {% block game_menu %}
            <a href="{% url 'game_detail' game.id %}">{% trans "details" %}</a>
            | <a href="{% url 'game_play' game.id %}">{% trans "play" %}</a>
            | <a href="{% url 'game_ranking' game.id %}">{% trans "ranking" %}</a>
            {% endblock %}
        </p>
        <div>
            {% block content_game %}
                <p>{{ game.description|default:"No description available." }}</p>
            {% endblock %}
        </div>

        <h3>{% trans "Popularity" %}</h3>
        <div class="col-xs-12">
            <div id="game-stats"></div>
        </div>

{% endblock %}

{% block extra_js %}
            <script src="{% static 'js/dygraph-combined.js' %}"></script>
            <script>
                var drawGraphStats = function() {
                    var game_stats_anon = [
                        {% for item in game_stats_anon %}
                            [new Date("{{ item.0 }}"), {{ item.1 }}],
                        {% endfor %}
                    ];

                    var game_stats_player = [
                        {% for item in game_stats_player %}
                            [new Date("{{ item.0 }}"), {{ item.1 }}],
                        {% endfor %}
                    ];

                    i_anon = 0;
                    i_player = 0;
                    data = [];
                    for (;;) {
                        var anon = game_stats_anon[i_anon];
                        var player = game_stats_player[i_player];
                        if (!anon && !player) {
                            console.log("None of them. BREAK!");
                            break;
                        }
                        if (anon && player) {
                            console.log("Both of them");
                            if (anon[0].getTime() < player[0].getTime()) {
                                console.log("player.date > anon.date");
                                data.push([anon[0], anon[1], null]);
                                i_anon += 1;
                            }
                            else if(anon[0].getTime() > player[0].getTime()) {
                                console.log("anon.date > player.date");
                                data.push([player[0], null, player[1]]);
                                i_player += 1;
                            }
                            else {
                                console.log("anon.date == player.date");
                                data.push([anon[0], anon[1], player[1]]);
                                i_anon += 1;
                                i_player += 1;
                            }
                        }
                        else if (anon) {
                            console.log("just anon");
                            data.push([anon[0], anon[1], null]);
                            i_anon += 1;
                        }
                        else if (player) {
                            console.log("just player");
                            data.push([player[0], null, player[1]]);
                            i_player += 1;
                        }
                        else {
                            //alert("Alert");
                        }
                    }

                    new Dygraph(document.getElementById("game-stats"), data, {
                        legend: 'always',
                        drawPoints: false,
                        showRoller: false,
                        labels: ['{% trans "Date" %}', '{% trans "Anonymous" %}', '{% trans "Registered" %}']
                    });
                };

                $(document).ready(function(){
                    drawGraphStats();
                });
            </script>
{% endblock %}