{% extends "engine/game_play.html" %}

{% block answer %}
    {% for ans in question.options %}
        {% if forloop.first %}<ul>{% endif %}
            <form id="answer-{{ forloop.counter0 }}" method="POST" action="{{ answer_url }}">{% csrf_token %}
                <li>{{ ans }} <a href="#" onclick="document.getElementById('answer-{{ forloop.counter0 }}').submit();">Respuesta</a></li>
                <input type="hidden" name="answer" value="{{ forloop.counter0 }}">
            </form>
        {% if forloop.last %}</ul>{% endif %}
    {% endfor %}
{% endblock %}
