{% extends "engine/game_detail.html" %}
{% load i18n %}

{% block content_game %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>{% trans "Player" %}</th>
                <th>{% trans "Points" %}</th>
                <th>{% trans "Rounds" %}</th>
                <th>{% trans "Score" %}</th>
            </tr>
        </thead>
        {% for player in players %}
            <tr>
                <th>{{ forloop.counter }}</th>
                <td>{{ player.user }}</td>
                <td>{{ player.sum|floatformat:"2" }}</td>
                <td>{{ player.count }}</td>
                <td>{{ player.score|floatformat:"2" }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
