{% extends "engine/base.html" %}
{% load i18n static appweb %}

{% block content_engine %}
        <h2>
            {{ game.title }}
            {% if game.author %}
                <small>
                    {% blocktrans with author=game.author %}by {{ author }}{% endblocktrans %}
                </small>
            {% endif %}
        </h2>
        <p>
            {% block game_menu %}
            <ul class="nav nav-tabs">
                {% url 'game_detail' game.id as url_detail %}
                {% url 'game_play' game.id as url_play %}
                {% url 'game_ranking' game.id as url_ranking %}
                <li role="presentation" class="{% active url_detail %}"><a href="{{ url_detail }}">{% trans "Details" %}</a></li>
                <li role="presentation" class="{% active url_play %}"><a href="{{ url_play }}">{% trans "Play" %}</a></li>
                <li role="presentation" class="{% active url_ranking %}"><a href="{{ url_ranking }}">{% trans "Ranking" %}</a></li>
            </ul>
            {% endblock %}
        </p>
        <div>
            {% block content_game %}
                <p>{{ game.description|default:"No description available." }}</p>

                <h3>{% trans "Popularity" %}</h3>
                <p>{% trans "Number of rounds played by registered and anonymous users" %}:</p>
                <div class="col-xs-12">
                    <div id="game-stats"></div>
                </div>
            {% endblock %}
        </div>


{% endblock %}

{% block extra_js %}
            <script src="{% static 'js/dygraph-combined.js' %}"></script>
            <script>
                var drawGraphStats = function() {
                    new Dygraph(document.getElementById("game-stats"),
                        [
                        {% for date,anon,player in game_stats %}
                            [new Date("{{ date }}"), {{ anon }}, {{ player }}],
                        {% endfor %}
                        ],
                        {
                        legend: 'always',
                        drawPoints: false,
                        showRoller: false,
                        labels: ['{% trans "Date" %}', '{% trans "Anonymous" %}', '{% trans "Registered" %}']
                    });
                };

                $(document).ready(function(){
                    drawGraphStats();
                });
            </script>
{% endblock %}