{% extends 'engine/game_detail.html' %}

{% block content_game %}
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <h3>{{ question.query }}</h3>
        <div>
            {% block answer %}
                {% include question.answer_template %}
            {% endblock %}
        </div>
{% endblock %}
