{% extends 'engine/game_detail.html' %}
{% load i18n %}

{% block content_game %}
        <div class="container-fluid">
            {% block query %}
                <div class="row">
                    <div class="col-md-12">
                        <h3>{% trans "Question" %}: {{ question.query }}</h3>
                    </div>
                </div>
            {% endblock %}
            {% block answer %}
                {% include question.answer_template %}
            {% endblock %}
            </div>
        </div>
{% endblock %}
