{% extends 'engine/base.html' %}

{% load i18n appweb %}

{% block content_engine %}
    <h1>{% trans "Challenges" %}</h1>
    <div>
        <p>
            {% blocktrans %}Here we are offering some challenges to test you. These games have been developed by the <a href="http://lingwars.github.io/blog/" target="_blank">Lingẅars</a> team{% endblocktrans %}.
        </p>

        <div class="row">
            {% get_active_games as game_list %}
            {% for game in game_list %}
                <div class="col-md-4">
                    <h3>
                        {{ game.title }}
                        {% if game.author %}
                            <small>
                                {% blocktrans with author=game.author %}by {{ author }}{% endblocktrans %}
                            </small>
                        {% endif %}
                    </h3>
                    <p>{{ game.description|default:"No description provided" }}</p>
                    <p>
                        <a class="btn btn-default" href="{% url 'game_play' game.id %}" role="button">Play &raquo;</a>
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}