{% extends "engine/base.html" %}

{% block content_engine %}
    <h2>Global ranking</h2>

    {% for game,players in data %}
        <h3>{{ game }}</h3>
        <table>
            <thead>
                <th>Player</th>
                <th>Rank</th>
                <th>Points</th>
                <th>Rounds</th>
            </thead>
            {% for player in players %}
                <tr>
                    <td>{{ player.user }}</td>
                    <td alt="Rank computed: {{ player.score|floatformat:"2" }}">{{ forloop.counter }}</td>
                    <td>{{ player.sum|floatformat:"2" }}</td>
                    <td>{{ player.count }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}


{% endblock %}
