{% extends "engine/base.html" %}

{% block content_engine %}
    <h2>Global ranking</h2>

    <p>No tengo muy claro qué/cómo mostrar aquí</p>
    <table>
        <thead>
            <th>Player</th>
            <th>Rank</th>
            <th>Points</th>
            <th>Rounds</th>
            <th>Score</th>
        </thead>
        {% for user in users %}
            <tr>
                <td>{{ user }}</td>
                <td>{{ forloop.counter }}</td>
                <td>{{ user.sum|floatformat:"2" }}</td>
                <td>{{ user.count }}</td>
                <td>{{ user.score|floatformat:"2" }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
