{% extends 'word2def/base.html' %}

{% block content_word2def %}
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <h3>{{ question.word }}</h3>
        <div>
            {% for ans in question.options %}
                {% if forloop.first %}<ul>{% endif %}
                    <form id="answer-{{ forloop.counter0 }}" method="POST" action="{% url 'word2def:answer' uuid=id %}">{% csrf_token %}
                        <li>{{ ans.1 }} <a href="#" onclick="document.getElementById('answer-{{ forloop.counter0 }}').submit();">Respuesta</a></li>
                        <input type="hidden" name="answer" value="{{ forloop.counter0 }}">
                    </form>
                {% if forloop.last %}</ul>{% endif %}
            {% endfor %}
        </div>
        </br>
        <div>
            {% comment %}
            <p>Levels:
            {% for _ in "xxxxxxxxxx" %}
                {% if forloop.first %}|{% endif %}
                {% if level == forloop.counter0 %}
                    {{ forloop.counter0 }}
                {% else %}
                    <a href="{% url 'play_level' level=forloop.counter0 %}">{{ forloop.counter0 }}</a>
                {% endif %}
                |
            {% endfor %}
            [0-fácil, 9-difícil]</p>
            {% endcomment %}
        </div>
{% endblock %}
